.container {
	max-width: 100%;
	height: auto;
	padding: 0 15px;
	margin:0 auto;
}
header{
	height: 65px;
	width: 100%;
	background-color: #A7E8A2;
	position:;
	top:0;
	z-index:10;
}
.nav-menu{
	float: right;
	background-color: #ba1323;
	border-radius: 25px;
	transition: all 0.8s;
}
.nav-menu ul :hover{
	background-color:rgba(0,165,90,255);
	color: #2c050d;
	border-radius: 25px;
}
.nav-menu ul li {
	display:inline;
	padding:20px 20px;
	font-weight:bold;
	text-transform:uppercase;
}
.nav-menu a {
  line-height: 5px;
  color:rgba(0,165,90,255);
  
}
body {
	margin:0;
	font-family:"Lucida Grande";
	background-color:#A7E8A2;
}
p{
	color:black;
}
img{
	width:30%;	
}
.sm_icon{
	width: 50px;
}
	